#conteiner-product {
  background-color: rgb(190, 190, 248);
}


.title-invent {
  padding: 2rem;
  text-align: center;
  border: 1px solid lightcoral;
  color: rgb(10, 81, 93);
  font-family: 'Monoton', cursive;
  font-family: 'Zen Tokyo Zoo', cursive;
}

.listado_productos {
  margin-top: 60px;

}